{
  "openapi": "3.1.0",
  "info": {
    "title": "HashRails API",
    "description": "Complete API specification for HashRails - a comprehensive financial services platform providing KYC, payments, virtual accounts, and compliance solutions.",
    "version": "1.0.0",
    "contact": {
      "name": "HashRails API Support",
      "url": "https://docs.railsfromthecrypt.com",
      "email": "support@railsfromthecrypt.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.Hashrails.xyz/v1/",
      "description": "Production server"
    },
    {
      "url": "https://staging-api.railsfromthecrypt.com/v1/",
      "description": "Staging server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/public/health": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Health check endpoint",
        "description": "Check the health status of the API service",
        "operationId": "healthCheck",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthCheck"
                }
              }
            }
          }
        }
      }
    },
    "/public/rates": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Get exchange rates",
        "description": "Retrieve current exchange rates for supported currencies",
        "operationId": "getRates",
        "responses": {
          "200": {
            "description": "Exchange rates retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "from": {
                            "type": "string",
                            "example": "USD"
                          },
                          "to": {
                            "type": "string",
                            "example": "NGN"
                          },
                          "rate": {
                            "type": "number",
                            "example": 1500.50
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public/currencies": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Get supported currencies",
        "description": "Retrieve list of supported currencies",
        "operationId": "getCurrencies",
        "responses": {
          "200": {
            "description": "Currencies retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "USD"
                          },
                          "name": {
                            "type": "string",
                            "example": "US Dollar"
                          },
                          "symbol": {
                            "type": "string",
                            "example": "$"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public/networks": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Get supported networks",
        "description": "Retrieve list of supported blockchain networks",
        "operationId": "getNetworks",
        "responses": {
          "200": {
            "description": "Networks retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "polygon"
                          },
                          "name": {
                            "type": "string",
                            "example": "Polygon"
                          },
                          "chainId": {
                            "type": "number",
                            "example": 137
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public/banks": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Get supported banks",
        "description": "Retrieve list of supported banks",
        "operationId": "getBanks",
        "responses": {
          "200": {
            "description": "Banks retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "access-bank"
                          },
                          "name": {
                            "type": "string",
                            "example": "Access Bank"
                          },
                          "code": {
                            "type": "string",
                            "example": "044"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public/banks/lookup": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Lookup bank by account number",
        "description": "Lookup bank information by account number",
        "operationId": "lookupBank",
        "parameters": [
          {
            "name": "account_number",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bank account number to lookup"
          }
        ],
        "responses": {
          "200": {
            "description": "Bank lookup successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account_number": {
                          "type": "string",
                          "example": "1234567890"
                        },
                        "account_name": {
                          "type": "string",
                          "example": "John Doe"
                        },
                        "bank_name": {
                          "type": "string",
                          "example": "Access Bank"
                        },
                        "bank_code": {
                          "type": "string",
                          "example": "044"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public/recipients": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Get public recipients",
        "description": "Retrieve list of public recipients",
        "operationId": "getPublicRecipients",
        "responses": {
          "200": {
            "description": "Recipients retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "rec_123"
                          },
                          "name": {
                            "type": "string",
                            "example": "John Doe"
                          },
                          "type": {
                            "type": "string",
                            "example": "bank"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public/virtual-accounts": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Get public virtual accounts",
        "description": "Retrieve list of public virtual accounts",
        "operationId": "getPublicVirtualAccounts",
        "responses": {
          "200": {
            "description": "Virtual accounts retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "va_123"
                          },
                          "account_number": {
                            "type": "string",
                            "example": "1234567890"
                          },
                          "bank_name": {
                            "type": "string",
                            "example": "Access Bank"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HealthCheck": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean",
            "example": true
          },
          "service": {
            "type": "string",
            "example": "HashRails API service"
          }
        },
        "required": [
          "status",
          "service"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "status": {
            "type": "number",
            "example": 400
          },
          "message": {
            "type": "string",
            "example": "Bad Request"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "VALIDATION_ERROR"
              },
              "details": {
                "type": "string",
                "example": "Invalid input data"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "token": {
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "type": "http",
        "name": "JWT",
        "description": "Enter JWT token",
        "in": "header"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  }
}